<div class="box  box-solid box-default box-container-internal">
    <div class="box-header  with-border box-internal">
        <h6 class="box-title">Addresses</h6>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="input-group" style="margin-bottom:10px;">
                    <button class="btn  btn-primary btn-xs"  style="width:auto;" type="button" id="add-address">
                        <i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;                   
                        Add address
                    </button>
                </div>
                <table id="addresses-grid"  style="width:100%;" class="table table-bordered table-hover"></table>
            </div>
        </div>
    </div><!-- /.box-body -->
</div><!-- /.box -->