@using ROHV.WebApi.ViewModels;
@{

    var fullServicesListData = (List<ServicesListViewModel>)ViewData["FullDataServicesList"];
}
<div class="box box-solid" id="consumer-audits-container">
    <div class="box-header with-border">
        <h2 class="box-title">Manage Audits</h2>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row" style="width:600px;">
            <form id="audit-form">
                <div style="margin-bottom:10px;">
                    <div class="col-xs-3 col-md-3">
                        <div>
                            <button class="btn  btn-primary" href="javascript:void(0);" data-action="add-new-audit">
                                <i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;
                                New audit
                            </button>
                        </div>
                    </div>
                    <div class="col-xs-5 col-md-5">
                        <div>

                            <div class="form-group">

                                <select id="ServiceId" class="selectpicker"
                                        name="ServiceId"
                                        title="Select service...">
                                    @foreach (var item in fullServicesListData)
                                    {
                                        <option value="@item.ServiceId">
                                            @item.ServiceDescription
                                        </option>
                                    }

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-md-3">
                        <div>
                            <input type="number" min="1" max="15" value="7" class="form-control" id="NumberOfAuditRecords" name="NumberOfAuditRecords" placeholder="Audit Records Amount">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row pull-left" style="width:100%;">
            <div class="col-xs-6 col-md-6">
                <Label>Audits</Label>
                <table id="consumer-audits-grid" class="table table-bordered table-hover"></table>
            </div>
            <div class="col-xs-6 col-md-6" style="width:400px;">
                <Label>Audits Details</Label>
                <table id="consumer-audits-details-grid" class="table table-bordered table-hover" style="width:400px;"> </table>
            </div>
        </div>
    </div>
    <div class="overlay" id="overlay-grid" style="display:none;">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    </div>
</div>
<script id="button-template-audit-grids" type="text/html">
    <div style="white-space:nowrap;" data-row-id="<%=id%>">
        <button data-id="<%=id%>" data-action="get-details" type="button" class="btn btn-primary btn-xs">
            <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Details
        </button>&nbsp;&nbsp;&nbsp;
        <button data-id="<%=id%>" data-action="delete" type="button" class="btn btn-danger btn-xs">
            <span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;Delete
        </button>
    </div>
</script>
<script id="button-template-audit-details-grids">
    <div style="white-space:nowrap;" data-row-id="<%=id%>">
        <button data-id="<%=id%>" data-action="get-customer-details" type="button" class="btn btn-primary btn-xs">
            <span class="glyphicon glyphicon-pencil"></span> &nbsp;&nbsp;Customer Details
        </button> &nbsp;&nbsp;&nbsp;        
    </div>
</script>
